[submodule "taksa-app-traceability"]
	path = repos/taksa-app-traceability
	url = git@github.com:artpark-hub/taksa-app-traceability.git
	branch = release/pronoy/00x/develop
[submodule "taksa-benthos-umh"]
	path = repos/taksa-benthos-umh
	url = git@github.com:artpark-hub/taksa-benthos-umh.git
	branch = release/pronoy/00x/develop
[submodule "taksa-deployments"]
	path = repos/taksa-deployments
	url = git@github.com:artpark-hub/taksa-deployments.git
	branch = release/pronoy/00x/develop
[submodule "taksa-edge-umh"]
	path = repos/taksa-edge-umh
	url = git@github.com:artpark-hub/taksa-edge-umh.git
	branch = release/pronoy/00x/develop
[submodule "taksa-platform"]
	path = repos/taksa-platform
	url = git@github.com:artpark-hub/taksa-platform.git
	branch = release/pronoy/00x/develop
[submodule "repos/taksa-app-alerts"]
	path = repos/taksa-app-alerts
	url = git@github.com:artpark-hub/taksa-app-alerts.git
	branch = release/pronoy/00x/develop
