[submodule "taksa-app-traceability"]
	path = repos/taksa-app-traceability
	url = git@github.com:artpark-hub/taksa-app-traceability.git
	branch = release/0.0.x
[submodule "taksa-benthos-umh"]
	path = repos/taksa-benthos-umh
	url = git@github.com:artpark-hub/taksa-benthos-umh.git
[submodule "taksa-deployments"]
	path = repos/taksa-deployments
	url = git@github.com:artpark-hub/taksa-deployments.git
	branch = release/0.0.x
[submodule "taksa-edge-umh"]
	path = repos/taksa-edge-umh
	url = git@github.com:artpark-hub/taksa-edge-umh.git
[submodule "taksa-platform-dm"]
	path = repos/taksa-platform-dm
	url = git@github.com:artpark-hub/taksa-platform-dm.git
	branch = release/0.0.x
[submodule "taksa-platform"]
	path = repos/taksa-platform
	url = git@github.com:artpark-hub/taksa-platform-services.git
	branch = release/0.0.x
